node_modules
dist
.env
.env.local
.DS_Store
*.log
.firebase

# Capacitor / Android
android/.gradle
android/build
android/app/build
android/app/release
android/captures
android/.idea
android/local.properties
android/*.iml
android/app/src/main/assets/public
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
*.apk
*.aab
*.jks
*.keystore
!debug.keystore

# Capacitor / iOS
ios/App/Pods
ios/App/output
ios/App/App/public
ios/DerivedData
ios/App/App.xcworkspace/xcuserdata
ios/App/App.xcodeproj/xcuserdata
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata
*.ipa
*.dSYM.zip
